@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,600;1,400&display=swap');

body, html {
  margin: 0;
  padding: 0;
}
div {
  font-weight: 300;
  font-size: 14px;
}
a {
  color: rgba(20,20,20,.9)!important;
}
.form-control {
  background: rgb(234, 244, 250)!important;
  border: none!important
}
h3 {
  font-weight: 500;
}

/* Front page and pre-login*/

.frontpage-img {
  z-index: 0;
  position: absolute;
  margin-left: 30%;
}
 .jumbo {
   z-index: 5;
   background: rgba(200,200,200,.7);
   position: absolute;
  top: 10;
 }
 .nav {
  font-family: 'Montserrat'!important;
  height: 20vh;
  background: rgb(20,20,20);
 }
 .form {
  background: rgba(230,230,230, .5);
  backdrop-filter: blur(8px);
 }
 .bg {
  height: 80vh;
  margin: 0;
  background-attachment: fixed;
 }
 .signup-bg {
   background-image: url('pexels-axel-vandenhirtz-929280.jpg');
   background-position: right center;
 }
 .login-bg {
  background-image: url('pexels-miguel-á-padriñán-255379.jpg');
  background-position: right top;
}


/* User nav*/

.nav-symbols-container {
  align-items: center;
}
.nav-symbols {
  max-height: 85px;
  min-height: 85px;
  max-width: 75px;
  min-width: 75px;
  position: relative;
}
.nav-symbols img {
  z-index: -1;
}
.nav-symbols div {
  z-index: 4;
  position:absolute;
  top: 0;
  right: 0
}
.svg-icon {
  filter: invert(99%) sepia(60%) saturate(0%) hue-rotate(45deg) brightness(113%) contrast(100%);
}
.product-count:hover {
  transform: scale(1.3);
}
.product-count {
  font-weight: 600;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-in
}
.cart-count {
  background: rgb(255, 153, 0);
}
.favorite-count {
  background: rgb(255, 0, 119);
}
.cart-table {
  width: 100%;
}
.cart-table tr {
  font-size: 15px;
  text-align: center;
}
.highlighted * {
  font-size: 1.8em;
  font-weight: bold;
  padding: 15px;
}

/* user page */

.user-page-bg {
  background-image: url('pexels-negative-space-34090.jpg');
  background-position: center top;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: auto;
  font-family: 'Source Sans Pro';
}
.home-navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Source Sans Pro';
  background: rgba(201, 201, 201, 0.3);
  min-width: 20%;
  max-width: 20%;
  height: 80vh;
  transition: all .5s ease-in;
}
.home-nav-btn * {
  font-size: 1.6em;
  margin-bottom: 10px;
  width: 100%;
  color: rgb(40,40,40)!important;
  transition: .3s ease-in;
}
.home-nav-btn *:hover {
  background: rgba(40,40,40, .2);
  color: white!important;
  width: 100%;
  letter-spacing: .08em!important;
}
.welcome {
  display: flex;
  justify-content: center;
  background: rgba(230,230,230, .3);
  backdrop-filter: blur(6px);
}
.user-frontpage-header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 25px;
}
.blur-bg {
  background: rgba(220, 220, 220, 0.3);
  backdrop-filter: blur(4px);
}
.quote {
  background: rgba(209, 209, 209, 0.089);
  width: 70%;
  margin: 60px!important;
  text-align: center;
  margin: auto;
  padding: 20px;
}
tr {
  font-size: 20px;
  line-height: 2em;
}
td {
  border-bottom: 1px solid rgb(199, 199, 199);
  width: 175px;
  padding: 5px;
}
.category-title {
  background: rgb(230, 230, 230);
  color: rgba(20,20,20,.6);
  margin-bottom: 50px;
  padding: 15px;
  text-align: center;
  border-radius: 50px;
  letter-spacing: .08em;
  font-size: 3em;
  text-transform: uppercase;
  width:350px;
}
.categories-user .btn-link {
  color: rgb(99, 99, 99);
  border: 1px solid rgb(199, 199, 199);
  margin: 10px;
}
.categories-user .btn-link:hover {
  background: rgb(30, 30, 30);
}

/* Product view */

.product-box {
  border-radius: 12px;
}
.product-box > * {
  padding: 10px;
}

.product-qty-fave {
  display: flex;
  justify-content: space-between!important;
  width: 100%;
  align-items: flex-end;
}

.product-title {
  background: rgb(221, 221, 221);
  color: rgba(30,30,30,.7);
  padding: 7px;
  border-radius: 4px;
  font-size: 1.7em;
  letter-spacing: .04em;
}
.stock {
  font-size: 1.1em;
  padding: 7px;
}
.red{
  background: rgba(255, 0, 0, 0.7)
}
.orange {
  background: rgba(255, 166, 0, 0.7);
}
.yellow {
  background: rgba(255, 255, 0, 0.7);
}
.green {
  background: rgba(144, 238, 144, 0.7);
}
.darkgreen {
  background: rgba(0, 128, 0, 0.7);
}
.favorite {
  margin-top: 20px;
}

.favorite:hover {
  cursor: pointer;
}

/* admin page */

.admin-nav {
  background: rgba(32, 32, 32, 0.897);
  height: 100vh;
  width: 30vh;
  display: flex;
  justify-content: space-between;
  color: white;
  position: fixed;
}
.admin-bg {
  background-image: url('pexels-henry-&-co-2455166.jpg');
  min-height: 100vh;
  min-width: 70vh;
  margin: 0;
  background-attachment: fixed;
  background-position: left bottom;
}
.nav-link {
  font-size: 20px;
  color: rgba(20,20,20,.7);
  font-weight: 400
}
.category-button {
  background: rgb(73, 73, 73)
}
.category-button:hover {
  background: rgb(43, 43, 43)
}
.btn-link {
  color: rgb(235, 235, 235);
  letter-spacing: .04em;
}
.btn-link:hover {
  color: white;
  text-decoration: none;
}
.btn-link:active {
  color: rgb(22, 22, 22);
}
.btn:focus, .btn-link:focus {
  border: none!important;
  outline: none!important;
  text-decoration: none;
  box-shadow: none;
}
.nav-link:hover {
  font-size: 20px;
  color: rgba(131, 131, 131, 0.9);
}
div.card {
  background: rgba(117, 117, 117, 0)
}
div.card-body  {
  background: rgba(220,220,220, .7);
  margin: 35px!important
}
.card-header {
  border-radius: 15px!important;
  margin: 25px auto;
  background: rgba(34, 34, 34, 0.8);
}
.dark-bg {
  background: rgb(40,40,40);
  font: white;
}


@media screen and (max-width: 1250px) {

  .nav div {
    display: column
  }

  .anon-nav img {
    transform: scale(.6);
  }
  .user-nav {
    padding: 5px!important;
    justify-content: space-between!important;
    align-items: center;
  }
  .user-nav > * {
    margin: 0;
    padding: 0!important;
  }
  .nav-symbols {
    width: 40px;
    position: relative
  }

  /* ANONYMOUS NAV */

  .anon-nav * {
    padding: 5px!important;
    margin: 1px!important;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .anon-browse-search {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1000px) {

    /* USER NAV */
    .product-container {
      display: flex;
      flex-direction: column;
    }
  
    .product-box {
      width: 100%!important;
      margin: 20px auto!important;
    }
  
}