@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=New+Tegomin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,600;1,400&display=swap');

body, html {
  margin: 0;
  padding: 0;
}

div {
  font-weight: 300;
  font-size: 14px;
}

a {
  color: rgba(20,20,20,.9)!important;

}

.form-control {
  background: rgb(234, 244, 250)!important;
  border: none!important
}

h3 {
  font-weight: 500;
}

/* Front page and pre-login*/

.frontpage-img {
  z-index: 0;
  position: absolute;
  margin-left: 30%;
}
 .jumbo {
   z-index: 5;
   background: rgba(200,200,200,.7);
   position: absolute;
  top: 10;
 }

 .nav {
  font-family: 'Montserrat'!important;
  height: 10vh;
 }
 .anon-nav {
   background: rgb(20,20,20);
   height: 20vh;
 }

 .form {
  background: rgba(230,230,230, .5);
  backdrop-filter: blur(8px);
 }

 .signup-bg {
  background-image: url('pexels-axel-vandenhirtz-929280.jpg');
   height: 80vh;
   margin: 0;
   background-attachment: fixed;
   background-position: right center;
 }
 .login-bg {
  background-image: url('pexels-miguel-á-padriñán-255379.jpg');
  height: 80vh;
  margin: 0;
  background-attachment: fixed;
  background-position: right top;
}




/* User nav*/

.user-nav {
  background: rgb(15, 36, 53);
  font-family: 'Source Sans Pro';
  height: 20vh
}

.svg-icon {
  filter: invert(99%) sepia(60%) saturate(0%) hue-rotate(45deg) brightness(113%) contrast(100%);
  transition: all .5s ease-in
}

.svg-icon:hover {
  /* filter: invert(58%) sepia(12%) saturate(3846%) hue-rotate(181deg) brightness(102%) contrast(102%); */
  transform: scale(1.6);
}
.product-count {
  background: rgb(255, 153, 0);
  font-weight: 600;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-table {
  width: 100%;

}
.cart-table tr {
  font-size: 15px;
  text-align: center;
}

.highlighted * {
  font-size: 1.8em;
  font-weight: bold;
  padding: 15px;
}



/* user page */

.user-page-bg {
  background-image: url('pexels-negative-space-34090.jpg');
  min-height: 80vh;
  margin: 0;
  background-attachment: fixed;
  background-position: right top;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: auto;
  font-family: 'Source Sans Pro';
}
.home-navbar {
  font-family: 'Source Sans Pro';
  background: rgba(172, 166, 197, .4);
  min-width: 20%;
  max-width: 20%;
  transition: all .5s ease-in;
}

.home-nav-btn * {
  font-size: 1.6em;
  margin: 15px;
}
.welcome {
  display: flex;
  justify-content: center;
  background: rgba(230,230,230, .3);
  backdrop-filter: blur(6px);
}
.user-frontpage-header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 25px;
}

.blur-bg {
  background: rgba(220, 220, 220, 0.3);
  backdrop-filter: blur(4px);
}

.quote {
  background: rgba(209, 209, 209, 0.089);
  width: 70%;
  margin: 60px!important;
  text-align: center;
  margin: auto;
  padding: 20px;
}

tr {
  font-size: 20px;
  line-height: 2em;
}

td {
  border-bottom: 1px solid rgb(199, 199, 199);
  width: 175px;
  padding: 5px;
}

.category-title {
  background: rgb(230, 230, 230);
  color: rgba(20,20,20,.6);
  padding: 15px;
  text-align: center;
  border-radius: 50px;
  letter-spacing: .08em;
  font-size: 3em;
  text-transform: uppercase;
}

.categories-user .btn-link {
  color: rgb(99, 99, 99);
  border: 1px solid rgb(199, 199, 199);
  margin: 10px;
}

.categories-user .btn-link:hover {
  background: rgb(30, 30, 30);
}
.wrap {
  flex-wrap: wrap;
}

.bold {
  font-weight: bold
}


/* Product view */

.product-box {
  border-radius: 12px;
}


.product-box > * {
  padding: 10px;
}

.product-title {
  background: rgb(221, 221, 221);
  color: rgba(30,30,30,.7);
  padding: 7px;
  border-radius: 4px;
  font-size: 1.7em;
  letter-spacing: .04em;
}
.stock {
  font-size: 1.1em;
  padding: 7px;
}
.red{
  background: rgba(255, 0, 0, 0.7)
}

.orange {
  background: rgba(255, 166, 0, 0.7);
}

.yellow {
  background: rgba(255, 255, 0, 0.7);
}

.green {
  background: rgba(144, 238, 144, 0.7);
}

.darkgreen {
  background: rgba(0, 128, 0, 0.7);
}

/* admin page */

.admin-nav {
  background: rgba(32, 32, 32, 0.897);
  display: flex;
  justify-content: space-between;
  color: white;
}
.admin-bg {
  background-image: url('pexels-henry-&-co-2455166.jpg');
  min-height: 90vh;
  margin: 0;
  background-attachment: fixed;
  background-position: left bottom;
}
.nav-link {
  font-size: 20px;
  color: rgba(20,20,20,.7);
  font-weight: 400
}
.category-button {
  background: rgb(73, 73, 73)
}
.category-button:hover {
  background: rgb(43, 43, 43)
}
.btn-link {
  color: rgb(235, 235, 235);
  letter-spacing: .04em;
}
.btn-link:hover {
  color: white;
  text-decoration: none;
}

.btn-link:active {
  color: rgb(22, 22, 22);
}

.btn:focus, .btn-link:focus {
  border: none!important;
  outline: none!important;
  text-decoration: none;
  box-shadow: none;
}

.nav-link:hover {
  font-size: 20px;
  color: rgba(131, 131, 131, 0.9);
}
div.card {
  background: rgba(117, 117, 117, 0)
}
div.card-body  {
  background: rgba(220,220,220, .7);
  margin: 35px!important
}
.card-header {
  border-radius: 15px!important;
  margin: 35px;
  background: rgba(34, 34, 34, 0.8);
}
.dark-bg {
  background: rgb(40,40,40);
  font: white;
}