@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=New+Tegomin&display=swap');



div {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 12px;
}

.form-control {
  background: rgb(234, 244, 250)!important;
  border: none!important
}

h3 {
  font-weight: 500;
}

